
<?php if(!isset($token)): ?>
  <div class="form-group  section-field span-full   " data-field-name="access_token_section" id="Form-field-Settings-access_token_section-group"><!-- Section -->
    <div class="field-section">
      <h4>Access Token Info</h4>
      <p class="help-block">Enter App ID, App Secret,  Event Page Name and click save to log into Facebook </p>
    </div>
  </div>
<?php endif; ?>

<?php if (!isset($token) || isset($token['error'])): ?>
  <?php if(isset($token['error'])):?>
    <div>Facebook SDK error:</b> <?php echo $token['error']; ?> </div>
  <?php endif; ?>
<?php else: ?>
  <div class="form-group  section-field span-full   " data-field-name="access_token_section" id="Form-field-Settings-access_token_section-group"><!-- Section -->
    <div class="field-section">
      <h4>Access Token Info</h4>
    </div>
  </div>
  <div>Access Token is <b>valid</b></div>
  <?php if( strcmp($token['expires_at'], '01-01-1970 00:00:00') ): ?>
    <div>Access Token expires at: <?php echo $token['expires_at'];?> </div>
  <?php else:?>
    <div>Access Token expires <b>never</b> </div>
  <?php endif;?>
  <div>Data Access expires at: <b><?php echo $token['data_access_expires_at'];?> </b></div>
  <div>
  <hr>
    <p>Relogin to edit app permissions and refresh the access token</p>
    <a id="facebook_login_link" href="<?php echo $loginURL; ?>"><img src="<?= $loginButtonImage ?>"></a> 
  </div>
<?php endif ?>
