<div>
  <?php
    if (!isset($token) || isset($token['error'])) {
      if (isset($token['error'])) {
        echo "<div>Facebook SDK error:</b> " . $token['error'] ."</div>";
      }
      echo '<div><a href="' . $loginURL . '">Login to Facebook</a> to retrieve an access token.</div>';
    } else {
      if ($token['is_valid']) {
        echo "<div>Token is valid</div>";
        echo "<div>Token expires at: " . $token['expires_at'] . "</div>";
        // date("d-m-Y H:i", 
        echo "<div>Data access expires at: " . $token['data_access_expires_at'] . "</div>";
        echo '<div>Login: <a href="' . $loginURL . '">Login to Facebook</a> to edit app permissions and refresh the access token.</div>';
      }
    }
  ?>
</div>