
<?php if (!isset($token) || isset($token['error'])): ?>
  <?php if(isset($token['error'])):?>
    <div>Facebook SDK error:</b> <?php echo $token['error']; ?> </div>
  <?php endif; ?>
<?php else: ?>
  <div>Token is valid</div>
  <div>Token expires at: <?php echo $token['expires_at'];?> </div>
  <div>
  <hr>
    <p>Relogin to edit app permissions and refresh the access token</p>
    <a href="<?php echo $loginURL; ?>"><img src="<?= $loginButtonImage ?>"></a> 
  </div>
<?php endif ?>

<div id="facebook_login_link">
  <a href="" id="facebook_login_url">
    <img src="<?= $loginButtonImage ?>">
  </a>
  to edit app permissions and refresh the access token.
</div>
