<pre><code>{{ __SELF__.events | json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>

{% for event in __SELF__.events %}
  <pre><code>{{ event | json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>

  {% if __SELF__.isUpcoming(event.start_time, event.end_time) %}
  
    <h1>{{event.name}}</h1>

    <p>{{event.description}}</p>

    <p>Start: {{event.start_time.format('d-m-Y')}}</p>

    {% if event.end_time %}
    <p>End: {{event.end_time.format('d-m-Y')}}</p>
    {% endif %}

    <p>
      <a href="{{event.external_url}}" target="_blank">open external url</a>
    </p>

    <img style="width:90px" src="{{event.image}}">

  {% endif %}

{% endfor %}
