{% for event in __SELF__.events %}

  {% if __SELF__.isUpcoming(event.end_time) or __SELF__.pluginSettings.include_past_events %}
  
    {% if __SELF__.pluginSettings.include_event_name %}
      <h1>{{event.name}}</h1>
    {% endif %}

    {% if __SELF__.pluginSettings.include_event_description %}
      <p>{{event.description}}</p>
    {% endif %}

    <p>Start {{event.start_time.format('d-m-Y')}}</p>

    <p>End: {{event.end_time.format('d-m-Y')}}</p>

    {% if  __SELF__.pluginSettings.include_event_url %}
        <p>
            <a href="{{event.external_url}}" target="_blank">open on facebook </a>
        </p>
    {% endif %}

    {% if  __SELF__.pluginSettings.include_event_url %}
        <img style="width:90px" src="{{event.image}}">
    {% endif %}

  {% endif %}

{% endfor %}
